extends layout

block append head
  script(type='text/javascript', src='/javascripts/landing.js')

block content
  section#welcome
  div Welcome
  input#nickname(type="text", placeholder="Enter a nickname")
  a#startchat(type="button", class="btn") Login
